@include url('ccs/reset.css');

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font:inherit;
    vertical-align:baseline;
}

body {
    font-size: 100%;
}

article {
    width: 50%;
    margin: 5em auto;
}

.manchet {
    font-family: Cambria;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
}

img.figur {
    width: 100%;
}

p.figurtekst {
    font-family: Calibri;
    text-align: right;
}

img.lilleFigur {
    width: 30%;
    float: right;
}

p.lilleFigurtekst {
	max-width:30%;
    font-family: Calibri;
    text-align: right;
    float: right;
    clear: right;
}

em {
    font-style: italic;
}

h1, h2, h3, h4 {
    font-family: Cambria;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}


section.etVaerk {
    clear: both;
    border: 1px solid #808080;
    background-color: #f0f0f0;
    padding: 0.5em;
}
    
.etVaerk h2 {
    font-family: Calibri;
    font-style: italic;
    font-weight: 800;
}